
body {
    background-image:url('../assets/images/paper_2.png');
   
}
h1 {
    margin: 0;
    width: 30%;
    float: left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    }

.navbar {
    float: left;
    width: 70%;
    text-align: right;
    padding-top: 22px;
    padding-bottom: 22px;
}

.wrapper {
    width: 960px;
    align-content: center;
}